name: Hourly Docker Host Update Check

on:
  schedule:
    - cron: "30 6,18 * * *"  # Runs twice daily at 6:30 AM and 6:30 PM UTC
  workflow_dispatch:  # Allows manual triggering from GitHub Actions UI

concurrency:
  group: docker_hosts_hourly_update
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 90

    steps:
      - name: Checkout gh_hdc
        uses: actions/checkout@v6
        with:
          repository: mfaherty/gh_hdc
          token: ${{ secrets.GH_HDC_PAT }}
          path: gh_hdc

      - name: Connect to Tailscale
        uses: tailscale/github-action@v3
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci
          hostname: github-runner-docker-hosts-update
          version: latest

      - name: Write SSH Private Key to File
        run: |
          echo "${{ secrets.MIKEYSSHKEYLINODE }}" | sed 's/\\n/\n/g' > /tmp/mike_ssh_key
          chmod 600 /tmp/mike_ssh_key

      - name: Write SSH Public Key to File
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.MIKESSHKEYLINODEPUB }}" | sed 's/\\n/\n/g' >> ~/.ssh/authorized_keys
          chmod 600 ~/.ssh/authorized_keys

      - name: Run Ansible Playbook
        working-directory: gh_hdc/ansible  # Correct path
        env:
          ANSIBLE_SSH_PASS: ${{ secrets.ANSIBLE_SSH_PASSWORD_1 }}
          ANSIBLE_PYTHON_INTERPRETER: /usr/bin/python3
          ANSIBLE_GATHERING: smart
          ANSIBLE_TIMEOUT: 30
          ANSIBLE_STDOUT_CALLBACK: yaml
          ANSIBLE_HOST_KEY_CHECKING: false
        run: |
          pipx run --spec ansible ansible-playbook playbooks/playbook_hosts_that_run_docker.yaml \
            -i inventory/non_kubernetes_ubuntu_vm_and_lxc \
            -u root \
            --private-key=/tmp/mike_ssh_key \
            --extra-vars "ansible_ssh_pass=${ANSIBLE_SSH_PASS} ansible_ssh_common_args='-o StrictHostKeyChecking=no'"

      - name: Cleanup Temporary Files
        if: always()
        run: |
          rm -f /tmp/mike_ssh_key
          rm -rf ~/.ssh/authorized_keys
          rm -rf ~/.ssh
